@use 'variables' as *;
@use 'calendar' as *;

/* Centralizar o conteúdo do body */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  min-height: 100vh; /* ocupa altura total da viewport */
  font-family: Arial, sans-serif; /* só pra ficar mais apresentável */
  background: #f0f0f0; /* um fundo leve para visual */
}
